NetSqlAzMan_Solution/NetSqlAzManWCFServiceWinTest/Service References/NetSqlAzManSR/NetSqlAzManWCFService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://eidosis4-afr.eidos.lan/NetSqlAzManWCFServiceTest/NetSqlAzManWCFService.svc?xsd=xsd2" namespace="http://NetSqlAzMan/ServiceModel" />
  <xs:element name="CreateStorageInstance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateStorageInstanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://NetSqlAzMan/ServiceModel" minOccurs="0" name="CreateStorageInstanceResult" nillable="true" type="q1:SqlAzManStorage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>