NetSqlAzMan_Solution/NetSqlAzMan.SnapIn/Web References/wsUpdate/NetSqlAzManUpdateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tdo.sourceforge.net/WebServices/UpdateServices/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tdo.sourceforge.net/WebServices/UpdateServices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tdo.sourceforge.net/WebServices/UpdateServices/">
      <s:element name="CheckForUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userInfo" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="clientVersionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CheckForUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckForUpdateResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckForUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:CheckForUpdate" />
  </wsdl:message>
  <wsdl:message name="CheckForUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:CheckForUpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="NetSqlAzManUpdateServiceSoap">
    <wsdl:operation name="CheckForUpdate">
      <wsdl:input message="tns:CheckForUpdateSoapIn" />
      <wsdl:output message="tns:CheckForUpdateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetSqlAzManUpdateServiceSoap" type="tns:NetSqlAzManUpdateServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckForUpdate">
      <soap:operation soapAction="http://tdo.sourceforge.net/WebServices/UpdateServices/CheckForUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetSqlAzManUpdateServiceSoap12" type="tns:NetSqlAzManUpdateServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckForUpdate">
      <soap12:operation soapAction="http://tdo.sourceforge.net/WebServices/UpdateServices/CheckForUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NetSqlAzManUpdateService">
    <wsdl:port name="NetSqlAzManUpdateServiceSoap" binding="tns:NetSqlAzManUpdateServiceSoap">
      <soap:address location="http://localhost:4426/TdoQuickStart/WebServices/UpdateServices/NetSqlAzManUpdateService.asmx" />
    </wsdl:port>
    <wsdl:port name="NetSqlAzManUpdateServiceSoap12" binding="tns:NetSqlAzManUpdateServiceSoap12">
      <soap12:address location="http://localhost:4426/TdoQuickStart/WebServices/UpdateServices/NetSqlAzManUpdateService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>